:root {
    --max-card-width: 300px;
    --border-width: 10px;
    --border-offset: calc(var(--border-width) * 2);
    --color: #32CD32;
    --card-height: calc(40 * var(--vh));
}

/* Game Canvas is always z-index 1 */
/* Overlay visuals are always z-index-2 or 3*/
/* Modal visuals are always z-index-4*/

button:active {
    background-color: black;
}

body {
    touch-action: none;
    overflow: hidden;
    width: 100vw;
    height: calc(100 * var(--vh));
    margin: 0;
    padding: 0;
    touch-action: none;

}

svg {
    fill: var(--color)
}



canvas {
    width: 100vw;
    height: calc(100 * var(--vh) - var(--border-offset));
    top: var(--border-width);
    left: var(--border-width);
}

.overlay {
    z-index:2;
    position:absolute; 
}

.hitCanvas{
    display: none;
}
.gameCanvas, .hitCanvas{
    z-index: 1;
    position: absolute;

}
.border {
    border: var(--border-width) solid var(--color);
    width: calc(100vw - 20px);
    height: calc((100 * var(--vh)) - var(--border-offset));
}

#card  {
    width: 75vw;
    height: var(--card-height);
    left: 50vw;
    top: calc(50 * var(--vh));
    transform: translate(-50%, -50%);
    max-width: var(--max-card-width);
    display:none;
    position:absolute;
    
}

.modal {
    width: 90vw;
    height: calc(90 * var(--vh));
    z-index: 4;
    background-color: white;
    left: 5vw;
    top: calc(5 * var(--vh));
    overflow:auto;
    position:fixed;
    display: none;
}

.close, .menuTitle {
    color: black;
    float: right;
    font-size: 20vw;
    font-weight: bold;
    position: sticky;
    right: 2vw;
    top: 0;
    height: 0;
    max-height: 100px;
  }

  .menuTitle {
    float:left;
    left: 2vw;
    font-size: 10vw;
    top: calc(2.5 * var(--vh))
  }

.front, .back {
    display:flex;
    align-items: center;
    justify-content: center;
    max-width: var(--max-card-width);
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.image-left,.image-right{
    width: 75%;
    height: auto;
    position: absolute;
    object-fit: contain;
    display: flex;
    justify-content: center;
    max-height: var(--card-height);
}


.image-left{
    z-index: 2;
    left:0;
}

.image-right{
    right:0;
    z-index: 3;

}
#screen {
    position: relative;
}

.readyButton {
    left: 50vw;
    height: calc(20 * var(--vh));
    font-size: xx-large;
    top: calc(50 * var(--vh) - (20 * var(--vh)) / 2);
    transform: translate(-50%);
    position:fixed;
    display:none;
    margin: 0;

}

.topmenu{
    height:calc(25vh - var(--border-width));
    width: calc(100vw - var(--border-offset));
    margin-top: var(--border-width);
    margin-left: var(--border-width);
    margin-right: var(--border-width);
    display: none;
    flex-direction: column;
    overflow: hidden;
    position: absolute;

}
.innermenu {
    height:70%;
    display: flex;
    max-height: 70%;
}
.outerdiv {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10px;

}
* {
    touch-action: manipulation;
    user-scalable: no;
}


.innerdiv {
    width:50%;
    text-align: center;
}
.namediv,.moneydiv {
    height: 50%;
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;    
}

h2 {
    font-size: 1.5em;
    margin: 0;
}

.statusmenu{
    height:30%;
    max-height: 30%;
    text-align: center;
    font-size: 1.5em;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: white;
}

.centerMessage{
    background-color: white;
    left: 50vw;
    top: calc(50 * var(--vh));
    transform: translate(-50%, -50%);
    display:none;
    font-size: xx-large;
    position:absolute;
    text-align: center;
    padding: 12px;
    z-index: 2;    
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 2px solid #ff0000;
    padding: 10px;
}

th {
    background-color: #ff0000;
    color: #fff;
}


h4 {
    font-family: Verdana;
    font-size: 14px;
}

img {
    max-width: 100%;
    height: auto;
}

.menuButton {
    width: 50vw;
}

.menuButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    flex-direction: column;
}
/* CSS */
button, select {
  align-items: center;
  background-color: var(--color);
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 75vw;
  width: 75vw;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

select {
    min-height: 0;
    padding: 0;
    margin: 0;

}



.playButton, .peekButton {
    
    position: fixed;
    z-index: 2;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    display:none;
}

.playButton {
    bottom: calc(var(--border-width) + 10px);
    right: calc(var(--border-width) + 10px);
    width: calc(50vw - 20px);
    height: calc(25 * var(--vh));

}

.peekButton {
    bottom: calc(var(--border-width) + 10px);
    left: calc(var(--border-width) + 10px);
    width: calc(50vw - 20px);
    height: calc(25 * var(--vh));

}

.gameForm {
    width:75vw;
    height: fit-content;
    background-color: white;
    position: absolute;
    top: calc(30 * var(--vh));
    left: 50%;
    transform: translate(-50%);
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    display: none;
    font-size: 20px;


    

}

.arrow {

    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.third, .half {
    height: 33%;
    min-width: 100%;
    position:relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.choiceMenu {
    max-height: calc(50 * var(--vh));
    height: calc(50 * var(--vh));

    width: 75vw;
    top: calc(50% + var(--border-offset));
    left: 50%;
    transform: translate(-50%, 50%);
    position: absolute;
    display: none;
    
}

.infoMessage {
    height: calc(15 * var(--vh));
    width: 75vw;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 50%);
    position: absolute;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    display: none;
}


.third {
    height: 33%;
}

.half {
    height: 50%;
}

.chip {
    position: fixed;
    bottom: 20px;
    left: calc(25vw + var(--border-width));
    transform: translate(-50%,0);
}


