:root {
    --max-card-width: 300px;
    --border-width: 10px;
    --border-offset: calc(var(--border-width)*2);
    --color: #32CD32;
}

/* Game Canvas is always z-index 1 */
/* Overlay visuals are always z-index-2 */

body {
    touch-action: none;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    touch-action: none;
}

.overlay {
    z-index:2;
    position:absolute; 
}

.hitCanvas{
    display: none;
}
.gameCanvas, .hitCanvas{
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 100vh;

}
.border {
    border: var(--border-width) solid var(--color);
    width: calc(100vw - var(--border-offset));
    height: calc(100vh - var(--border-offset));
}

#card  {
    width: 75vw;
    height: 50vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%,50%);
    max-width: var(--max-card-width);
    
}

.front, .back {
    display:flex;
    align-items: center;
    justify-content: center;
    max-width: var(--max-card-width);
    height:50vh;
}

#image-left,#image-right{
    width: 75%;
    height: auto;
    position: absolute;
    object-fit: contain;
    display: flex;
    justify-content: center;
    
    
}
img{
    max-height:50vh;
}


#image-left{
    z-index: 1;
    left:0;
}

#image-right{
    right:0;

}
#screen {
    position: relative;
}

.topmenu{
    height:calc(25vh - var(--border-width));
    width: calc(100vw - var(--border-offset));
    margin-top: var(--border-width);
    margin-left: var(--border-width);
    margin-right: var(--border-width);
    background-color: white;
    display: none;
    flex-direction: column;
    overflow: hidden;

}
.innermenu {
    height:70%;
    display: flex;
    max-height: 70%;
}
.outerdiv {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
svg {
    position: relative;
    width: 50%;
    height: 50%;
    left:0;
    top:0;

}

.innerdiv {
    width:50%;
    text-align: center;
}
.namediv,.moneydiv {
    height: 50%;
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;    
}

h2 {
    font-size: 1.5em;
    margin: 0;
}

.statusmenu{
    height:30%;
    max-height: 30%;
    text-align: center;
    font-size: 1.5em;
}
