:root {
    --max-card-width: 300px;
    --border-width: 10px;
    --border-offset: calc(var(--border-width) * 2);
    --color: #32CD32;
    --card-height: calc(40 * var(--vh));
}

/* Game Canvas is always z-index 1 */
/* Overlay visuals are always z-index-2 or 3*/
/* Modal visuals are always z-index-4*/


body {
    touch-action: none;
    overflow: hidden;
    width: 100vw;
    height: calc(100 * var(--vh));
    margin: 0;
    padding: 0;
    touch-action: none;

}

canvas {
    width: 100vw;
    height: calc(100 * var(--vh) - var(--border-offset));
    top: var(--border-width);
    left: var(--border-width);
}

.overlay {
    z-index:2;
    position:absolute; 
}

.hitCanvas{
    display: none;
}
.gameCanvas, .hitCanvas{
    z-index: 1;
    position: absolute;

}
.border {
    border: var(--border-width) solid var(--color);
    width: calc(100vw - 20px);
    height: calc((100 * var(--vh)) - var(--border-offset));
}

#card  {
    width: 75vw;
    height: var(--card-height);
    left: 50vw;
    top: calc(50 * var(--vh));
    transform: translate(-50%, -50%);
    max-width: var(--max-card-width);
    display:none;
    position:absolute;
    
}

.modal {
    width: 90vw;
    height: calc(90 * var(--vh));
    z-index: 4;
    background-color: white;
    left: 5vw;
    top: calc(5 * var(--vh));
    overflow:auto;
    position:fixed;
    display: none;
}

.close {
    color: black;
    float: right;
    font-size: 20vw;
    font-weight: bold;
    position: sticky;
    right: 2vw;
    top: 0;
    height: 0;
    max-height: 100px;
  }



.front, .back {
    display:flex;
    align-items: center;
    justify-content: center;
    max-width: var(--max-card-width);
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.image-left,.image-right{
    width: 75%;
    height: auto;
    position: absolute;
    object-fit: contain;
    display: flex;
    justify-content: center;
    max-height: var(--card-height);
}


.image-left{
    z-index: 2;
    left:0;
}

.image-right{
    right:0;
    z-index: 3;

}
#screen {
    position: relative;
}

.topmenu{
    height:calc(25vh - var(--border-width));
    width: calc(100vw - var(--border-offset));
    margin-top: var(--border-width);
    margin-left: var(--border-width);
    margin-right: var(--border-width);
    display: none;
    flex-direction: column;
    overflow: hidden;

}
.innermenu {
    height:70%;
    display: flex;
    max-height: 70%;
}
.outerdiv {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
svg {
    position: relative;
    width: 50%;
    height: 50%;
    left:0;
    top:0;

}

.innerdiv {
    width:50%;
    text-align: center;
}
.namediv,.moneydiv {
    height: 50%;
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;    
}

h2 {
    font-size: 1.5em;
    margin: 0;
}

.statusmenu{
    height:30%;
    max-height: 30%;
    text-align: center;
    font-size: 1.5em;
    align-items: center;
    display: flex;
    justify-content: center;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 2px solid #ff0000;
    padding: 10px;
}

th {
    background-color: #ff0000;
    color: #fff;
}


h4 {
    font-family: Verdana;
    font-size: 14px;
}

img {
    max-width: 100%;
    height: auto;
}




